

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: calc(100% - 160px);
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}